.notFound {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 10rem;
    text-align: center;
    color: hsl(0, 0%, 100%);
    
}

.notFound button {
    background-color: hsl(209, 23%, 22%);
    width: 45vh;
    height: 8vh;
    margin: 5vh auto;
    border: none;
    outline: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Nunito Sans', sans-serif;
    text-transform: capitalize;
    font-size: 1.5rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}