@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    min-height: 100%;
    /* background-color: hsl(0, 0%, 98%); */
    background-color: hsl(207, 26%, 17%);
    font-family: 'Nunito Sans', sans-serif;
    text-transform: capitalize;
    color: hsl(0, 0%, 100%);
}
